<div>
  <h2>Add Kingdom</h2>
    <form [formGroup]="kingdomForm" (ngSubmit)="addKingdom()">
      <div>
      <label for="name">Name:</label>
      <div>
        <input type="text"  id="name" formControlName="name" />
      </div>
    </div>
    <div>
      <label for="taxonomyYear">Taxonomy Year:</label>
      <div>
        <input type="number" id="taxonomyYear" formControlName="taxonomyYear" />
      </div>
    </div>
    <div>
      <div>
        <button type="submit">Add kingdom</button>
      </div>
    </div>
  </form>
</div>
